{% extends 'base.html' %}

{% block title %}
    <title>
        Contact Us - Task Mate 
    </title>
{% endblock title %}

{% block content %}
<div class="container"> 
    <h1>{{ contact_text }}</h1>
</div>
<div style="margin:auto; width:50%">
    <div  class="col-auto"><a href="https://www.github.com/Azhar9983" target="_blank">
    Linkedin Profile
   </a></div>
   <div  class="col-auto"><a href="https://www.linkedin.com/in/azharuddinansari232" target="_blank">
    GitHub Profile
   </a></div>
   <div  class="col-auto"><a href="mailto:azharuddinansari232@gmail.com">
    Email ID
   </a></div>
   <div  class="col-auto"><a href="tel:+917869299983">
    Mobile Number
    </a></div>
</div>
{% endblock content %}
